body{ background:#ededed; margin:0; padding:0; font-size:14px; font-family:"Microsoft Yahei","宋体","Tahoma","Arial"; color:#4d4d4d;}
.top{ height:199px; background:url(../images/top.jpg) center no-repeat; margin:0 auto;}
.main{ height:240px; background:url(../images/main_bg.jpg) repeat-x;}
.box{ height:225px; background:url(../images/main.jpg) center no-repeat; margin:0 auto; padding:15px 0 0 0;}
.bottom{ background:url(../images/bottom.jpg) center no-repeat; height:56px;}
.user{ width:200px; height:27px; line-height:27px; border:1px solid #7ea3b8; padding:0 0 0 35px; font-size:14px;}
.user_bg1{ background:url(../images/user01.jpg) left no-repeat #fff;}
.user_bg2{ background:url(../images/user02.jpg) left no-repeat #fff;}
.user_bg3{ width:64px; padding:0 0 0 2px;}
.but{ width:136px; height:40px; background:url(../images/but.png) no-repeat; border:none;cursor:pointer;}
.lang{height:21px;border:1px solid #7ea3b8;}
form{margin:0;padding:0}
.noticediv{display:none;border:1px #fc5959 solid;background:#FFFDF4 url(../images/chk_error.gif) 10px no-repeat;padding-left:33px;line-height:25px;margin:3px 0px;width:202px;}
